<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Urban Beat</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        button {
            background-color: #1c4755; 
            color: black;              
            border: white;
            padding: 10px 20px;
            border-radius: 6px;
            cursor: pointer;
            margin: 10px;
        }
    </style>
</head>
<body>

    <!-- Encabezado -->
    <h1>Urban Beat</h1>
    <p>Moda Urbana</p>
    <hr>

    <!-- Bienvenida -->
    <h2>Bienvenido colaborador!</h2>
    <p>¿Qué harás el día de hoy?</p>

    <!-- Botones funcionales -->
    <table>
        <tr>
            <td>
    <button onclick="window.open('Cobros.html', '_blank')">
        <b>Realizar cobros</b><br>
        Realice cobros de tiendas físicas
    </button>
    <br>
    </a>
</td>
            <td>
                <button onclick="window.open('pedidos.html', '_blank')">
                    <b>Pedidos</b><br>
                    Revisa los pedidos vigentes
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <button onclick="window.open('stock.html', '_blank')">
                    <b>Revisar stock</b><br>
                    Revisa la disponibilidad de producto
                </button>
            </td>
            <td>
                <button onclick="window.open('factura.html', '_blank')">
                    <b>Facturas</b><br>
                    Consulta facturas
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <button onclick="window.open('Clientes.html', '_blank')">
                    <b>Clientes</b><br>
                    Revisa la base de datos de los clientes
                </button>
            </td>
        </tr>
    </table>

</body>
</html>